body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.menu {
    display: flex;
    background: green;
}

.item {
    position: relative;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

.item:hover {
    background: green;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: green;
    width: 150px;
}

.subitem {
    position: relative;
    padding: 12px;
    color: white;
}

.subitem:hover {
    background: #3F8059;
}

.subsubmenu {
    display: none;
    position: absolute;
    left: 150px;
    top: 0;
    background: green;
    width: 150px;
}

.subsubitem {
    padding: 12px;
    color: white;
}

.subsubitem:hover {
    background: #3F8059;
}

.item:hover .submenu {
    display: block;
}

.subitem:hover .subsubmenu {
    display: block;
}

.content {
    padding: 30px;
}