body {
    margin: 40px;
    background-image: url("../../shared_resources/fon.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 70%;
    margin: 30px auto;
    padding: 30px;

    background-color: rgb(15, 41, 20, 0.85);
    color: rgb(255, 255, 255);

    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}