.page {
    width: 900px;
    margin: 30px auto;
    padding: 30px;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
}

.contents {
    border: 1px solid #a2a9b1;
    width: 300px;
    padding: 10px 15px;
    margin: 20px 0;
}

.contents-title {
    margin-bottom: 10px;
}

.contents ol {
    margin-left: 20px;
}

.contents a {
    text-decoration: none;
    color: #0645ad;
}

.contents a:hover {
    text-decoration: underline;
}

h2 {
    border-bottom: 1px solid #a2a9b1;
    padding-bottom: 3px;
    margin-top: 30px;
}

h3 {
    margin-top: 20px;
}

.list {
    margin-left: 40px;
}

ul {
    margin-left: 20px;
}