body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 210px;
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 18px black;
    transition: 1s;
}

.card:hover {
    transform: scale(1.15);
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.line {
    height: 4px;
    width: 100%;
    margin-bottom: 15px;
}

.price {
    font-size: 36px;
    font-weight: bold;
}

.per {
    color: gray;
    margin-bottom: 15px;
}

.desc {
    font-size: 14px;
    margin: 6px 0;
}

.bold {
    font-weight: bold;
}

.btn {
    margin-top: 15px;
    padding: 10px 18px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.enterprise .line {
    background: #C33755;
}

.enterprise .btn {
    background: #C33755;
}

.professional .line {
    background: #D7913C;
}

.professional .btn {
    background: #D7913C;
}

.standard .line {
    background: #286487;
}

.standard .btn {
    background: #286487;
}

.basic .line {
    background: #5FB932;
}

.basic .btn {
    background: #5FB932;
}