body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F3F3;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;  
}

.form {
    background-color: #F5F5F5;
    padding: 30px;
    box-shadow: 0 0 10px black;
}

h2 {
    margin-bottom: 20px;
}

input , select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #C0C0C0;
}

.row {
    display: flex;
    gap: 20px;
}

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.checks {
    margin-top: 20px;
}

button {
    border-radius: 4px;
    height: 25px;
    width: 20%;
    background-color: #008787;
    color: white;
    border: none;
    cursor: pointer;
    float: right;    
}

button:hover {
    background-color: #015e5e;
}

@media (max-width: 900px) {

  .grid {
    grid-template-columns: 1fr;
  }

  .row {
    flex-direction: row;
  }
}

@media (max-width: 600px) {

  .row {
    flex-direction: column;
  }
}               